<div class="book">
  <table style="width: 100%">
    <tr>
      <td>
        <span><b>Tytuł</b></span><br>
        <span>{{book.title}}</span>
      </td>
    </tr>
    <tr *ngIf="book.thumbnail!=null">
      <td>
        <img [src]="book.thumbnail" alt="Cover" width="150" height="200">
      </td>
    </tr>
    <tr *ngIf="book.description!= null">
      <td>
        <span><b>Opis</b></span><br>
        <span>{{book.description.slice(0,256).concat('...')}}</span>
      </td>
    </tr>
  </table>
</div>
